.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  text-decoration: none;
  transition: 0.3s;
}

.button--white {
  color: #004460;
  background-color: #ffffff;

  &:hover,
  &:focus {
    outline: none;
    background-color: #004460;
    color: #ffffff;
  }

  &:active {
    opacity: 0.7;
  }
}

.button--gray {
  color: #20afff;
  background-color: #eefafe;

  &:hover,
  &:focus {
    outline: none;
    color: #eefafe;
    background-color: #20afff;
  }

  &:active {
    opacity: 0.7;
  }
}
