.card {
  padding: 85px 250px;
  color: #004460;
}

.card__title {
  margin: 0;
  margin-bottom: 30px;
  width: 900px;
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
}

.card__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__user-preview {
  position: relative;
  margin-right: 60px;
}

.card__img {
  max-width: 756px;
  max-height: 334px;
  margin: 0 auto;
}

.card__user-preview input {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.card__user-menu {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.card__user-menu > div {
  margin-bottom: 25px;
}

.card__user-menu label {
  display: block;
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 5px;
}

.card__user-menu input {
  width: 310px;
  height: 50px;
  padding: 10px 15px;
  font-family: "AvenirNextCyr", "Arial", sans-serif;
  font-size: 18px;
  color: #004460;
  border: 1px solid #eff0f1;
  border-radius: 3px;

  &:active,
  &:focus {
    outline: none;
    border: 1px solid #20afff;
  }
}

.card__slogan {
  margin: 0;
  padding-top: 30px;
  width: 760px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.card__button {
  width: 310px;
  height: 50px;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.card__link {
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;

  &:hover,
  &:focus {
    text-decoration: underline;
    font-weight: 700;
  }

  &:active {
    color: #20afff;
    opacity: 0.5;
  }
}

@media (max-width: $desktop-width) {
  .card {
    padding: 45px 70px;
  }

  .card__body {
    flex-direction: column;
  }

  .card__title {
    width: 760px;
    padding-bottom: 20px;
    font-size: 36px;
    line-height: 48px;
  }

  .card__slogan {
    margin: 0;
    padding-top: 30px;
    width: 600px;
    font-size: 16px;
    line-height: 20px;
  }

  .card__user-preview {
    margin-right: 0;
  }

  .card__user-menu {
    margin-right: 0;
    flex-wrap: wrap;
    height: 200px;
    align-items: center;
  }

  .card__button:first-of-type {
    margin-top: 40px;
  }

  .card__user-menu > div {
    margin-bottom: 0;
    margin-top: 22px;
  }
}


@media (max-width: $tablet-width) {
  .card {
    padding: 20px 30px;
  }

  .card__title {
    width: 540px;
    margin: 0;
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
  }

  .card__slogan {
    padding-top: 10px;
    width: 500px;
    font-size: 12px;
    line-height: 16px;
  }

  .card__img {
    max-width: 540px;
    max-height: 240px;
  }

  .card__user-menu {
    height: 160px;
  }

  .card__user-menu > div {
    margin-bottom: 0;
    margin-top: 22px;
  }

  .card__user-menu input {
    width: 200px;
    height: 40px;
    padding: 10px 15px;
    font-size: 12px;
  }

  .card__user-menu label {
    font-size: 8px;
    line-height: 12px;
  }

  .card__link {
    font-size: 8px;
    line-height: 12px;
    margin: 0;
  }

  .card__button {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
  }

  .card__button:first-of-type {
    margin-top: 40px;
  }
}
