.job-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.job-list__item {
  margin-right: 40px;
  position: relative;
}

.job-list__item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 27px 0;
  display: block;
  color: #ffffff;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    color: #20afff;
    text-decoration: underline;
    font-weight: 600;
  }

  &:active {
    opacity: 0.5;
  }
}

.job-list__item--sub-menu {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 1px;
    bottom: 13px;
    left: calc(50% - 6px);
    background-color: #ffffff;
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 1px;
    bottom: 13px;
    left: calc(50%);
    background-color: #ffffff;
    transform: rotate(-45deg);
  }
}

.page-header--white .job-list__item a {
  color: #004460;

  &:hover,
  &:focus {
    color: #20afff;
    font-weight: 400;
  }
}

.page-header--white .job-list__item--sub-menu::before,
.page-header--white .job-list__item--sub-menu::after {
  background-color: #004460;
}

@media (max-width: $desktop-width) {
  .job-list__item {
    margin-right: 20px;
  }

  .job-list__item a {
    font-size: 12px;
    line-height: 16px;
    padding: 20px 0;
  }

  .job-list__item--sub-menu::before {
    width: 5px;
    left: calc(50% - 3px);
  }


  .job-list__item--sub-menu::after {
    width: 5px;
  }
}

@media (max-width: $tablet-width) {
  .job-list__item {
    margin-right: 15px;
  }

  .job-list__item a {
    font-size: 8px;
    line-height: 12px;
    padding: 15px 0;
  }

  .job-list__item--sub-menu::before {
    width: 4px;
    left: calc(50% - 2px);
    bottom: 8px;
  }


  .job-list__item--sub-menu::after {
    width: 4px;
    bottom: 8px;
  }
}

@media (max-width: $mobile-width) {
  .job-list__item--sub-menu::before,
  .job-list__item--sub-menu::after {
    display: none;
  }

  .job-list {
    flex-direction: column;
    margin-top: 50px;
  }

  .job-list__item {
    width: 100%;
    text-align: center;
    margin: 0;
    border-top: 1px solid #3d315f;
    border-bottom: 1px solid #000000;
  }

  .job-list__item a {
    font-size: 16px;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .job-list--closed {
    display: none;
  }

  .job-list--nojs {
    display: block;
  }

  .job-list--nojs ~ .main-nav__toggle {
    display: none;
  }
}
