.job-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.job-list__item {
  margin-right: 40px;
  position: relative;
}

.job-list__item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 27px 0;
  display: block;
  color: #ffffff;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    color: #20afff;
    text-decoration: underline;
    font-weight: 600;
  }

  &:active {
    opacity: 0.5;
  }
}

.job-list__item--sub-menu {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 1px;
    bottom: 13px;
    left: calc(50% - 6px);
    background-color: #ffffff;
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 1px;
    bottom: 13px;
    left: calc(50%);
    background-color: #ffffff;
    transform: rotate(-45deg);
  }
}

.page-header--white .job-list__item a {
  color: #004460;

  &:hover,
  &:focus {
    color: #20afff;
    font-weight: 400;
  }
}

.page-header--white .job-list__item--sub-menu::before,
.page-header--white .job-list__item--sub-menu::after {
  background-color: #004460;
}

@media (max-width: $desktop-width) {
  .job-list {
    justify-content: space-around;
    margin-right: 2%;
  }

  .job-list__item {
    margin-right: 1%;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .job-list__item a {
    font-size: 14px;
  }
}

@media (max-width: $tablet-width) {
  .job-list {
    flex-direction: column;
    margin: 0;
    animation-name: bounce;
    animation-duration: 0.3s;
  }

  .job-list.job-list--closed {
    display: none;
  }

  .job-list.job-list--opened {
    display: block;
  }

  .job-list.job-list--nojs {
    display: block;
  }

  .job-list__item {
    width: 100%;
    text-align: center;
    margin: 0;
    border-top: 1px solid #3d315f;
    border-bottom: 1px solid #000000;

    &:last-of-type {
      box-shadow: 0 1px 0 #3d315f;
    }
  }

  .job-list__item a {
    padding: 20px 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;

    &:hover,
    &:focus {
      text-decoration: none;
      color: #0099ef;
      transition: 0.3s;
    }
  }

  .job-list__item--sub-menu::before,
  .job-list__item--sub-menu::after {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .job-list__item {
    border-top: 1px solid #c8d7f4;
    border-bottom: 1px solid #39b5fa;

    &:last-of-type {
      box-shadow: 0 1px 0 #c8d7f4;
    }
  }

  .job-list__item a {
    padding: 30px 0;

    &:hover,
    &:focus {
      color: #004460;
    }
  }
}

@media (max-width: 480px) {
  .job-list__item a {
    padding: 20px 0;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  100% {
    transform: translateY(0);
  }
}
