.job-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.job-list__item {
  margin-right: 40px;
  position: relative;
}

.job-list__item a {
  padding: 27px 0;
  display: block;
  color: #ffffff;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    color: #20afff;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.5;
  }
}

.job-list__item--sub-menu {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 1px;
    bottom: 13px;
    left: calc(50% - 6px);
    background-color: #ffffff;
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 1px;
    bottom: 13px;
    left: calc(50%);
    background-color: #ffffff;
    transform: rotate(-45deg);
  }
}

.page-header--white .job-list__item a {
  color: #004460;

  &:hover,
  &:focus {
    color: #20afff;
  }
}

.page-header--white .job-list__item--sub-menu::before,
.page-header--white .job-list__item--sub-menu::after {
  background-color: #004460;
}
