.main-nav:first-of-type {
  border-bottom: 1px solid #3d315f;
}

.main-nav__wrapper {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.main-nav__wrapper a {
  color: #ffffff;
  text-decoration: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__logo {
  width: 104px;
  height: 40px;
  margin-right: 40px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    background-image: url("../img/logo--active.png");
  }

  &:active {
    opacity: 0.5;
  }
}

a.main-nav__make-offer {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  &:hover,
  &:focus {
    outline: none;
    color: #20afff;
    text-decoration: underline;
    font-weight: 600;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-header--white .main-nav__logo {
  background-image: url("../img/logo--active.png");
}

.page-header--white a.main-nav__make-offer {
  color: #004460;

  &:hover,
  &:focus {
    color: #20afff;
    font-weight: 400;
  }
}

.main-nav__toggle {
  display: none;
}

@media (max-width: $desktop-width) {
  .main-nav__wrapper {
    width: 900px;
  }

  a.main-nav__make-offer {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: $tablet-width) {
  .main-nav__wrapper {
    width: 600px;
  }

  a.main-nav__make-offer {
    font-size: 8px;
    line-height: 12px;
  }

  .main-nav__logo {
    width: 80px;
    margin-right: 20px;
  }
}

@media (max-width: $mobile-width) {
  .main-nav__wrapper {
    width: 100%;
    justify-content: space-around;
  }

  .main-nav__logo {
    position: absolute;
    top: 6px;
    left: 6px;
  }

  a.main-nav__make-offer {
    display: none;
  }

  .main-nav__toggle {
    display: block;
    position: absolute;
    top: 17px;
    right: 20px;
    padding: 0;
    margin: 0;
    z-index: 2;
    width: 50px;
    height: 20px;
    cursor: pointer;
    border: 0;
    background-color: #12033c;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 3px;
      background-color: #ffffff;
      box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
    }
  }

  .main-nav__toggle:hover::before {
    background-color: #20afff;
    box-shadow: 0 8px 0 0 #20afff, 0 16px 0 0 #20afff;
  }
}
