.page-header {
  position: fixed;
  width: 100%;
  background: #12033c;
  z-index: 9;
}

.page-header > div {
  border-bottom: 1px solid #3d315f;

  &:last-of-type {
    border: none;
  }
}

.page-header--white {
  background-color: #ffffff;
}

@media (max-width: $tablet-width) {
  .page-header {
    position: absolute;
    min-width: 360px;
  }
}
