.site-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.site-list__item {
  margin-right: 50px;
}

.site-list__item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 20px 0;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    color: #ffffff;
  }

  &:active {
    color: #20afff;
    opacity: 0.5;
  }
}

.page-header--white .site-list__item a {
  color: #b9b9b9;

  &:hover,
  &:focus {
    color: #20afff;
  }
}

@media (max-width: $desktop-width) {
  .site-list__item {
    margin-right: 40px;
  }

  .site-list__item a {
    font-size: 10px;
    line-height: 14px;
    padding: 20px 0;
  }
}

@media (max-width: $tablet-width) {
  .site-list__item {
    margin-right: 20px;
  }

  .site-list__item a {
    font-size: 8px;
    line-height: 12px;
    padding: 15px 0;
  }
}

@media (max-width: $mobile-width) {
  .site-list {
    display: none;
  }
}
