.sub-menu {
  position: absolute;
  list-style: none;
  top: 50px;
  background-color: #12033c;
  border-radius: 5px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: none;

  & a {
    margin-left: 20px;
  }
}

.job-list__item:hover .sub-menu {
  display: block;
  z-index: 2;
}

.page-header--white .sub-menu {
  background-color: #ffffff;
  color: #004460;
}

@media (max-width: $desktop-width) {
  .sub-menu {
    top: 40px;
  }

  .sub-menu a {
    padding: 10px 0;
  }
}

@media (max-width: $tablet-width) {
  .sub-menu {
    top: 30px;
  }

  .sub-menu a {
    padding: 5px 0;
  }
}
