.user-list {
  display: flex;
  position: relative;
  list-style: none;
  font-family: "AvenirNextCyr", "Arial", sans-serif;

  & li:first-child {
    margin-right: 18px;
  }
}

.user-list::before {
  position: absolute;
  content: "|";
  font-size: 14px;
  top: 20px;
  left: 41px;
  color: rgba(255, 255, 255, 0.5);
}

.user-list__item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 20px 0;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    color: #ffffff;
  }

  &:active {
    color: #20afff;
    opacity: 0.5;
  }
}

.page-header--white .user-list__item a {
  color: #b9b9b9;

  &:hover,
  &:focus {
    color: #20afff;
  }
}

.page-header--white .user-list::before {
  color: #b9b9b9;
}

@media (max-width: $desktop-width) {
  .user-list__item a {
    font-size: 10px;
    line-height: 14px;
    padding: 20px 0;
  }

  .user-list::before {
    font-size: 10px;
    top: 20px;
    left: 32px;
  }
}

@media (max-width: $tablet-width) {
  .user-list__item a {
    font-size: 8px;
    line-height: 12px;
    padding: 15px 0;
  }

  .user-list::before {
    font-size: 8px;
    top: 15px;
    left: 27px;
  }
}

@media (max-width: $mobile-width) {
  .user-list {
    display: none;
  }
}
