@font-face {
  font-family: "AvenirNextCyr";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/AvenirNextCyr.woff2") format("woff2");
  src: url("../fonts/AvenirNextCyr.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/AvenirNextCyrBold.woff2") format("woff2");
  src: url("../fonts/AvenirNextCyrBold.woff") format("woff");
}
